<html>

<body>
    <div style="display: inline-block; padding: 2vw;">
        <img src="https://s3-sa-east-1.amazonaws.com/front-antena-cps/email/logo.png" style="height:300px;">
    </div>
    <div style="display: inline-block;  margin-right: 0vw;">
        <h1 style=" color:#FF0066">SOLICITAÇÃO PARA REDEFINIÇÃO DE SENHA

        <hr style="height:2px; border:none; color:#9900FF; margin-top:0px; background-color:#9900FF;" />
        </h1>
        <img src="https://s3-sa-east-1.amazonaws.com/front-antena-cps/email/cps_logo.png" style="float:right; height:90px;">
        
        <div style="display: inline-block;">
            <h3 style=" color:#33CC00"> Olá {{ nome }},</h3>

            <p>Você solicitou a redifinição de senha para o acesso à <br />sua conta <b style=" color:#0066FF">Antena CPS</b>?</p>


            <p>Caso confirme esta solicitação, click no link <br />abaixo para continuar o processo:</p>

            <br>
            <a
                href="http://antenacpsbackend-env.xryvsu2wzz.sa-east-1.elasticbeanstalk.com{{ link }}">http://antenacpsbackend-env.xryvsu2wzz.sa-east-1.elasticbeanstalk.com<br />{{ link }}</a>

            <br>

            <p>Caso não feito este pedido, considere atualizar sua <br />senha através das opções de Configuração do seu usuário.</p>
        </div>
    </div>
    <br>
    <br>

    <div style="display: inline-block; padding: 2vw;"></div>
    <div style="display: inline-block;  margin-right: 0vw;">
        <p style="font-size:13px;"><b>Importante</b>: está é uma mensagem automática e não deve ser respondida. Para enviar sua sugestão
            ou<br />
            dúvida para o ANTENA, por favor, acesse <a href="https://inovacps.sp.gov.br">inovacps.sp.gov.br</a>. Política
            de Segurança: o ANTENA nunca envia<br />
            arquivos executáveis ou solicitações de dados pessoais. Para sua segurança, ao receber uma comunicação<br />
            digital do ANTENA, acesse o seu perfil e confirme a autenticidade do comunicado. Além disso, mantenha <br />
            atualizado o antivírus do seu computador ou celular.</p>

        <table align="right">
            <tr>
                <td><img src="https://s3-sa-east-1.amazonaws.com/front-antena-cps/email/inova.jpeg"
                        style="height:60px; float: right;"></td>

                <td>
                    <p style="font-size:20px;">Aceita o Desafio?</p>
                </td>
            </tr>

        </table>

    </div>
    <br>
    <br>
</body>

</html>